.layout {
    display: flex;
    justify-content: center;
}



.feed {
  width: 600px;
  border-left: 1px solid #2f3336;
  border-right: 1px solid #2f3336;
}

.rightpanel {
    width: 300px;
    padding: 16px;
}